body {
	width: 80%;
	margin: 0 auto;
	font-family: sans-serif;
}

button {
	cursor: pointer;
}

.list-group {
	padding-left: 0;
	list-style-type: none;
}

.list-group li {
	margin-bottom: 0.5em;
}

/* three-column layout */

main > * {
	float: left;
	width: 50%;
}

main > * + * {
	width: 25%;
}

/* activities */

.activity button {
	border: none;
	padding: 0;
	font-size: 1em;
	background-color: transparent;
	opacity: 0.5;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

.activity.favorite button {
	opacity: 1;
	-webkit-filter: none;
	filter: none;
}
